<!DOCTYPE html>
<html>

<head>
    <title>Successful Login</title>
</head>

<body>
    OK
    <form action="/vote" method="post">
        <label for="team">Team:</label>
        <input type="text" name="team">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit">Vote</button>
    </form>
    <a href="/login" ping="/sessionLogout">Logout</a>
    <a href="/login" ping="/rights?action=promote&_csrf=<%= csrfToken %>">Promote</button>
    <a href="/login" ping="/rights?action=demote&_csrf=<%= csrfToken %>">Demote</button>
</body>

</html>