<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Login 1. TC Chemnitz</title>
    <style>
        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            flex-wrap: wrap;
            align-content: center;
        }
    </style>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.1.0/firebase-ui-auth.css" />
    <script type="importmap">
        {
            "imports": {
                "firebase/app": "https://www.gstatic.com/firebasejs/10.4.0/firebase-app.js",
                "firebase/auth": "https://www.gstatic.com/firebasejs/10.4.0/firebase-auth.js",
                "firebaseui_de": "https://www.gstatic.com/firebasejs/ui/6.1.0/firebase-ui-auth__de.js",
                "firebase/compat/app": "https://www.gstatic.com/firebasejs/10.4.0/firebase-app-compat.js",
                "firebase/compat/auth": "https://www.gstatic.com/firebasejs/10.4.0/firebase-auth-compat.js"
            }
          }
    </script>
    <script type="module">
        import "firebaseui_de";
        import "firebase/compat/app";
        import 'firebase/compat/auth';
        import {initializeApp} from "firebase/app";
        import {getAuth, setPersistence, inMemoryPersistence, EmailAuthProvider} from "firebase/auth";

        
        window.onpageshow = function () {
            init()
        }
        async function init() {
            const response = await fetch("/firebase-config.json")
            const firebaseConfig = await response.json();
            const app = initializeApp(firebaseConfig);
            const auth=getAuth();
            setPersistence(auth, inMemoryPersistence);
            

            var uiConfig = {
                callbacks: {
                    signInSuccessWithAuthResult: function (authResult, redirectUrl) {
                        //TODO show loading to user while performing login
                        if (authResult.additionalUserInfo.isNewUser) {//Email verification required for MFA
                            authResult.user.sendEmailVerification()
                                .then(() => {
                                    // Email verification sent!
                                    console.log("sent");
                                });
                        }
                        authResult.user.getIdToken().then(idToken => {
                            fetch("/sessionLogin", {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/x-www-form-urlencoded',
                                },
                                body: `idToken=${idToken}&_csrf=<%= csrfToken %>`,
                            }).then((result) => {
                                console.dir(result);
                                window.location.assign('/home');
                            });
                        });


                        return false;//wait for the session fetchto complete
                    },
                    signInFailure: error => handleUIError(error),
                    uiShown: () => document.getElementById('loader').style.display = 'none'
                },
                signInFlow: 'redirect',
                signInOptions: [
                    {
                        provider: EmailAuthProvider.PROVIDER_ID,
                        requireDisplayName: true
                    }
                ],
                tosUrl: '<your-tos-url>',
                privacyPolicyUrl: 'https://taekwondo-chemnitz.de/datenschutzerklaerung/'
            };

            var ui = new firebaseui.auth.AuthUI(auth);
            ui.start('#firebaseui-auth-container', uiConfig);
        }
    </script>
</head>

<body>
    <!-- The surrounding HTML is left untouched by FirebaseUI.
         Your app may use that space for branding, controls and other customizations.-->
    <h1 class="center" style="font-family: 'Impact','Charcoal','sans-serif';">1. Taekwondo-Club Chemnitz e.V.</h1>
    <div id="firebaseui-auth-container"></div>
    <div id="loader">Loading...</div>
    <div class="center" style="font-weight: bold;">
        <h3>Passwortanforderungen:</h3>
        <ui>
            <li>Mindestens 12 Zeichen</li>
            <li>Groß- und Kleinbuchstaben</li>
            <li>Ziffern</li>
            <li>Sonderzeichen ^ $ * . [ ] { } ( ) ? " ! @ # % & / \ , &gt; &lt; ' : ; | _ ~ `</li>
        </ui>
    </div>
</body>

</html>