<!doctype html>
<html lang="de">

<head>
    <title>Neue Taekwondoin eintragen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: space-around;
            flex-wrap: wrap;
            min-height: 100vh;
        }

        form {
            display: grid;
            grid-template-columns: 100px 200px;
            row-gap: 10px;
        }
    </style>
</head>

<body>
    <h2>Neue Taekwondoin eintragen</h2>
    <form method="post" action="/neu">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <label for="vorname" required>Vorname</label>
        <input type="text" name="vorname" id="vorname">
        <label for="Nachname" required>Nachname</label>
        <input type="text" name="nachname" id="nachname">
        <label for="geburt" required>Geburtstag</label>
        <input type="date" name="geburt" id="geburt">
        <label for="uvertrag">Unterrichtsvertrag komplett?</label>
        <input type="checkbox" name="uvertrag" id="uvertrag">
        <label for="verein">Verein beigetreten?</label>
        <input type="checkbox" name="verein" id="verein">
        <button type="submit">Absenden</button>
    </form>
</body>

</html>