<h1>Login</h1>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="loginForm.controls['email'].errors?.['required']">Bitte Email eingeben.</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="loginForm.controls['password'].errors?.['required']">Bitte Passwort eingeben.</mat-error>
    </mat-form-field>

    <button mat-flat-button color="primary" type="submit">Login</button>
</form>
<a mat-button [routerLink]="['/register']" [queryParams]="{email: this.loginForm.controls['email'].value}">Neuen Account
    anlegen</a>
