<h1>Registrieren</h1>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="registerForm.controls['name'].errors?.['required']">Bitte geben sie ihren Namen
            ein.</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="registerForm.controls['email'].errors?.['required']">Bitte geben sie eine Email-Addresse
            ein</mat-error>
        <mat-error *ngIf="registerForm.controls['email'].errors?.['email']">Bitte geben sie eine gültige
            Email-Adresse
            ein.</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Passwort</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="registerForm.controls['password'].errors?.['required']">Bitte geben sie ein Passwort
            ein.</mat-error>
        <mat-error *ngIf="registerForm.controls['password'].errors?.['minlength']">Das Passwort muss mindestens
            {{registerForm.controls['password'].errors?.['minlength']['requiredLength']}} Zeichen lang sein</mat-error>
        <mat-error *ngIf="registerForm.controls['password'].errors?.['missing_upper']">Bitte fügen sie Großbuchstaben
            hinzu</mat-error>
        <mat-error *ngIf="registerForm.controls['password'].errors?.['missing_lower']">Bitte fügen sie Kleinbuchstaben
            hinzu</mat-error>
        <mat-error *ngIf="registerForm.controls['password'].errors?.['missing_digit']">Bitte fügen sie Ziffern
            hinzu</mat-error>
        <mat-error *ngIf="registerForm.controls['password'].errors?.['missing_char']">Bitte fügen sie Sonderzeichen
            hinzu</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Passwort wiederholen</mat-label>
        <input matInput type="password" formControlName="repeatPassword">
        <mat-error *ngIf="registerForm.controls['repeatPassword'].errors?.['required']">Bitte bestätigen sie das
            Passwort.</mat-error>
        <mat-error *ngIf="registerForm.controls['repeatPassword'].errors?.['passwordNotEqual']">Die Passwörter
            stimmen
            nicht
            überein.</mat-error>
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit">Registrieren</button>
</form>
